extends ../template

block title
    title KVS | Ипотека

block contain
    form.form-wrapper(method="post" id="form-ipotek-main" action="ipoteka.php")
        div.form-block(data-step-name="Единая анкета").active
            div.form-block__header
                h2 Единая анкета
            div.form-block__content
               .form.form-general
                    .form-row
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="lastname", data-name id="main-name-1")
                            label(for="name") Фамилия
                            .form-cross
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Имя", data-name id="main-name-2")
                            label(for="name") Имя
                            .form-cross
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="middlename", data-name id="main-name-3")
                            label(for="name") Отчество
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="birth-date", data-date)
                            label(for="birth-date") Дата рождения
                            .form-cross
                        //- div.form-group__text                    
                        //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="phone", data-phone)
                        //-     label(for="phone") Телефон
                        //-     .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="Информация о запрашиваемом кредите")
            div.form-block__header
                h2 Информация о запрашиваемом кредите
            div.form-block__content
                .form.form-credit-info
                    .form-row
                        h3.credit-target Цель кредита
                        div.form-group__radio
                            input(type="radio", id="credit-target-new", name="credit-target-new" value="credit-target-new[0]", checked)
                            label(for="credit-target-new") Покупка квартиры в новостройке
                        div.form-group__radio
                            input(type="radio", id="credit-target-ready", name="credit-target-new" value="credit-target-new[1]")
                            label(for="credit-target-ready") Покупка квартиры в готовой недвижимости
                        div.form-group__radio
                            input(type="radio", id="credit-target-commers", name="credit-target-new" value="credit-target-new[2]")
                            label(for="credit-target-commers") Покупка коммерческой недвижимости
                    .form-row
                        h3.cost Стоимость ОН в новостройке
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="cost" data-cost data-credit-main)
                            label(for="cost") Стоимость
                            .form-cross
                    .form-row
                        h3.initial-contribution Первоначальный взнос, в руб.
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="initial-contribution-sum" data-cost data-credit-first disabled)
                            label(for="initial-contribution-sum") Первоначальный взнос
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="initial-contribution-percent" data-credit-procent disabled) 
                            label(for="initial-contribution-percent") В процентах
                            .form-cross  
                    .form-row
                        h3.credit-sum Сумма кредита, руб.
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="credit-sum" data-cost data-credit-summ disabled)
                            label(for="credit-sum") Сумма кредита
                            .form-cross
                               
                    
                    .form-row
                        h3.maternity-capital Ипотека + материнский капитал
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="maternity-capital", name="maternity-capital" data-hidden)
                                label(for="maternity-capital") Материнский капитал 
                            div.form-group__text.form-group__text_pt(data-hidden-content)
                                input(type="text", autocomplete="off", name="maternity-capital-sum" data-cost data-maternity-summ)
                                label(for="maternity-capital-sum") Размер Материнского капитала
                                .form-cross
                            div(data-hidden-radio-content)
                                div.form-group__text(data-hidden-content)
                                    input(type="text", autocomplete="off", name="maternity-capital-procent" data-procent data-maternity-procent)
                                    label(for="maternity-capital-procent") В процентах
                                    .form-cross
                            div.form-group__radio(data-hidden-content)
                                input(type="radio", id="maternity-capital-usage-PV", name="maternity-capital-usage" value="maternity-capital-usage[0]" data-hidden-radio)
                                label(for="maternity-capital-usage-PV") Использовать как Первоначальный Взнос
                            div.form-group__radio(data-hidden-content)
                                input(type="radio", id="maternity-capital-usage-time", name="maternity-capital-usage" value="maternity-capital-usage[0]" checked)
                                label(for="maternity-capital-usage-time") Использовать как досрочное погашение по кредиту 
                    .form-row
                        h3.military-loan Военная ипотека
                        .form-group_hidden              
                            div.form-group__check                 
                                input(type="checkbox", id="military-loan", name="military-loan" data-hidden)
                                label(for="military-loan") Военная ипотека
                            div.form-group__text.form-group__text_pt(data-hidden-content)                
                                input(type="text", autocomplete="off", name="military-loan-sum" data-cost data-military-summ)
                                label(for="military-loan-sum") Размер Накопительной Ипотечной Системы
                                .form-cross
                            div.form-group__text(data-hidden-content)
                                input(type="text", autocomplete="off", name="military-loan-percent" data-procent data-military-procent) 
                                label(for="initial-contribution-percent") В процентах
                                .form-cross
                    .form-row
                        h3.subsidy Субсидия
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="subsidy", name="subsidy" data-hidden)
                                label(for="subsidy") Субсидия
                            .form-group_hidden-content(data-hidden-content)
                                div.form-group__text                 
                                    input(type="text", autocomplete="off", name="subsidy-sum" data-cost data-subsidy-summ)
                                    label(for="subsidy-sum") Размер субсидии
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="subsidy-percent" data-procent data-subsidy-procent)
                                    label(for="subsidy-percent") В процентах
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="subsidy-name")
                                    label(for="subsidy-name") Название субсидии
                                    .form-cross
                    .form-row
                        h3.insurance Страхование квартиры    
                        div.form-group__check
                            input(type="radio", id="insurance-yes", name="insurance" value="insurance[0]", checked)
                            label(for="insurance-yes") Да                
                        div.form-group__check
                            input(type="radio", id="insurance-no", name="insurance" value="insurance[1]")
                            label(for="insurance-no") Нет
                    
                        h3.loan-period Срок кредита, количество лет
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="loan-period" data-period)
                            label(for="loan-period") Срок кредита
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед

        div.form-block(data-step-name="Личные данные Заёмщика")
            div.form-block__header
                h2 Личные данные Заёмщика / Созаемщика
            div.form-block__content
                .form.form-private-data
                    .form-row
                        .form-tabs
                            .form-tabs-nav
                                .form-tabs-nav__link-wrapper
                                    .form-tabs-nav__link.active
                                        | Заёмщик
                                    .form-tabs-nav__link.form-tabs-nav__link-add
                                        | Созаёмщик
                                .form-tabs-nav__btn
                                    | Добавить созаёмщика
                                //- div.form-group__radio
                                //-     input(type="radio", id="private-data-person", name="private-data" value="zaemschik" checked)
                                //-     label(for="private-data-person") Заёмщик
                                //- div.form-group__radio
                                //-     input(type="radio", id="private-data-person-1", name="private-data" value="private-data[1]")
                                //-     label(for="private-data-person-1") Созаемщик
                            .form-tabs-container-wrapper
                                .form-tabs-container.active
                                    //- h3.name ФИО
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="surname-personal" id="main-name-surname")
                                    //-     label(for="surname") Фамилия
                                    //-     .form-cross
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="name-personal" id="main-name-name")
                                    //-     label(for="name") Имя
                                    //-     .form-cross
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="patronym-personal" id="main-name-patronym")
                                    //-     label(for="patronym") Отчество
                                    //-     .form-cross
                                    .form-row
                                        h3.passport-data Паспортные данные
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Паспорт" placeholder="0000 000000" data-passport)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортКод" placeholder="000-000" data-passport-cod)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортКем" placeholder="Кем выдан" data-passport-who)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортДата" placeholder="Дата выдачи" data-passport-date)
                                            .form-cross
                                    //- .form-row
                                    //-     h3.birth-date Дата рождения
                                    //-     div.form-group__text
                                    //-         input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="birth-date-personal" data-date)
                                    //-         .form-cross
                                    .form-row
                                        h3.sex Пол                
                                        div.form-group__check
                                            input(type="radio", id="sex-male", name="Пол" value="Мужской" checked)
                                            label(for="sex-male") Мужской                
                                        div.form-group__check
                                            input(type="radio", id="sex-female", name="Пол" value="Женский")
                                            label(for="sex-female") Женский
                                    .form-row
                                        h3.citezenship Гражданство
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Гражданство" placeholder="Россия")
                                            .form-cross
                                    .form-row
                                        h3.citezenship ИНН
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ИНН" placeholder="000000000000" data-inn)
                                            .form-cross
                                    .form-row
                                        h3.citezenship СНИЛС
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СНИЛС" placeholder="000 000 000 00" data-snils)
                                            .form-cross
                                    .form-row
                                        h3.citezenship Контактный телефон
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Телефон" data-phone)
                                            label(for="phone-main") Основной
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", autocomplete="off", name="ДопТелефон" data-phone)
                                            label(for="phone-main") Дополнительный
                                            .form-cross
                                    .form-row
                                        h3.email Email
                                        div.form-group__text
                                            input(type="text", autocomplete="off", name="Почта" placeholder="example@mail.com" data-email data-inputmask-regex="[A-Za-z0-9]{1,}@[A-Za-z0-9]{1,}[.][A-Za-z]{1,}")
                                            .form-cross
                                    .form-row
                                        h3.civil-status Статус семейного положения                
                                        div.form-group__check
                                            input(type="radio", id="marriage", name="СемейноеПоложение" value="Женат / Замужем ")
                                            label(for="marriage") Женат / Замужем          
                                        div.form-group__check
                                            input(type="radio", id="civil-marriage", name="СемейноеПоложение" value="Гражданский брак ")
                                            label(for="civil-marriage") Гражданский брак                
                                        div.form-group__check
                                            input(type="radio", id="single", name="СемейноеПоложение" value="Холост / Не замужем ")
                                            label(for="single") Холост / Не замужем                
                                        div.form-group__check
                                            input(type="radio", id="divorced", name="СемейноеПоложение" value="В разводе")
                                            label(for="divorced") В разводе                
                                        div.form-group__check
                                            input(type="radio", id="widower", name="СемейноеПоложение" value="Вдовец / Вдова")
                                            label(for="widower") Вдовец / Вдова
                                    .form-row
                                        h3.name-change Менялись ли ФИО
                                        .form-group_hidden
                                            div.form-group__check
                                                input(type="checkbox", id="name-change", name="ИзменениеФамилии" data-hidden)
                                                label(for="name-change") Да 
                                                .form-group_hidden-content(data-hidden-content)
                                                    div.form-group__text                                   
                                                        input(type="text", autocomplete="off", name="ФИО")
                                                        label(for="previous-name") Прежние ФИО
                                                        .form-cross
                                                    div.form-group__text                                    
                                                        input(type="text", autocomplete="off", name="ДатаИзменения" data-date)
                                                        label(for="change-date") Дата изменения
                                                        .form-cross
                                                    div.form-group__text                                  
                                                        input(type="text", autocomplete="off", name="Причина")
                                                        label(for="change-reason") Причина
                                                        .form-cross
                                    
                                    .form-row.children-wrapper
                                        h3.children Количество несовершеннолетних детей и иных иждевенцев
                                        .form-group_hidden-for-count
                                            div.form-group__text                
                                                input(type="text", autocomplete="off", name="КоличествоДетей" data-count)
                                                label(for="children-number") Количество
                                        .form-group_hidden-wrapper(data-count-contain)
                                            .form-group_hidden-content(data-children-form)
                                                h3.child Ребенок
                                                div.form-group__text                    
                                                    input(type="text", autocomplete="off", name="ФИО")
                                                    label(for="child-name") ФИО
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", autocomplete="off", name="ДатаРождения" data-date)
                                                    label(for="child-birth-date") Дата рождения
                                                    .form-cross
                                    .form-row
                                        h3.education Образование          
                                        div.form-group__check
                                            input(type="radio", id="middle", name="ТипОбразования" value="среднее / неполное среднее" data-education)
                                            label(for="middle") среднее / неполное среднее                
                                        div.form-group__check
                                            input(type="radio", id="college", name="ТипОбразования" value="среднее специальное " data-education)
                                            label(for="college") среднее специальное                
                                        div.form-group__check
                                            input(type="radio", id="incomplete-high", name="ТипОбразования" value="незаконченное высшее " data-education)
                                            label(for="incomplete-high") незаконченное высшее                
                                        div.form-group__check
                                            input(type="radio", id="high", name="ТипОбразования" value="высшее" data-education data-education-trigger)
                                            label(for="high") высшее                
                                        div.form-group__check.form-group__check_sd.disabled
                                            input(type="checkbox", id="science-degree", name="УченаяСтепень" disabled data-education data-science)
                                            label(for="science-degree") ученая степень                
                                        div.form-group__text.form-group__text_pt                    
                                            input(type="text",  autocomplete="off", name="НаимУчебЗавед" placeholder="СПБГУ") 
                                            label(for="institution-name") Наименование учебного заведения
                                            .form-cross                   
                                    .form-row
                                        h3.registration-adress Адрес регистрации
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Индекс")
                                            label(for="zip-code") Почтовый индекс
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерации")
                                            label(for="city") Республика/Край/Область
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Город")
                                            label(for="city") Город
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Улица")
                                            label(for="street") Улица
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Дом")
                                            label(for="building") Дом
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", autocomplete="off", name="Корпус")
                                            label(for="facility") Корпус
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Квартира")
                                            label(for="apartment") Квартира
                                            .form-cross
                                    .form-row
                                        h3.real-registration-adress Адрес фактического проживания совпадает с адресом регистрации?  
                                        .form-group_show              
                                            div.form-group__check
                                                input(type="checkbox", id="match", name="СовпадаетСРегистрацией" data-show)
                                                label(for="match") Да
                                            .form-group_show-content(data-show-content)
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Индекс")
                                                    label(for="zip-code") Почтовый индекс
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерации")
                                                    label(for="city") Республика/Край/Область
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Город")
                                                    label(for="city") Город
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Улица")
                                                    label(for="street") Улица
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Дом")
                                                    label(for="building") Дом
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Корпус")
                                                    label(for="facility") Корпус
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Квартира")
                                                    label(for="apartment") Квартира
                                                    .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="Сведения о работе Заёмщика")
            div.form-block__header
                h2 Сведения о работе Заемщика / Созаемщика
            div.form-block__content
                .form.form-job-data
                    .form-row
                        h3.name Постоянное место работы
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="name-location-job")
                            label(for="name") Наименование
                            .form-cross
                        div.form-group__text.form-group__text_bb
                            select(name="job-time")
                                option(value="Полная занятость") Полная занятость
                                option(value="Частичная занятость") Частичная занятость
                                option(value="Не занят") Не занят
                    .form-row
                        h3.employer-inn ИНН работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="employer-inn" placeholder="000000000000" data-inn)
                            .form-cross
                    .form-row
                        h3.employer-phone Телефон организации-работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="employer-phone" data-phone data-phone-city)
                            .form-cross
                    .form-row
                        h3.employer-site Сайт организации-работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="employer-site" placeholder="google.ru")
                            .form-cross
                    .form-row
                        h3.employer-adress Юридический адрес организации и фактический адрес    
                        h3.employer-adress-legal Юридический адрес
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="zip-code-uri")
                            label(for="zip-code") Почтовый индекс
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="area-uri")
                            label(for="city") Республика/Край/Область
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="city-uri")
                            label(for="city") Город
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="street-uri")
                            label(for="street") Улица
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="building-uri")
                            label(for="building") Дом
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="facility-uri")
                            label(for="facility") Корпус
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="office-uri")
                            label(for="office") Офис
                            .form-cross
                    .form-row
                        h3.employer-adress-real Фактический адрес      
                        .form-group_show          
                            div.form-group__check
                                input(type="checkbox", id="employer-match", name="employer-match" data-show)
                                label(for="employer-match") Совпадает с юридическим адресом  
                            .form-group_show-content(data-show-content)     
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="zip-code-uri-fact")
                                    label(for="zip-code") Почтовый индекс
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="area-uri-fact")
                                    label(for="city") Республика/Край/Область
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="city-uri-fact")
                                    label(for="city") Город
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="street-uri-fact")
                                    label(for="street") Улица
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="building-uri-fact")
                                    label(for="building") Дом
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="facility-uri-fact")
                                    label(for="facility") Корпус
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="office-uri-fact")
                                    label(for="office") Офис
                                    .form-cross
                    .form-row
                        h3.branch Сфера деятельности организации                
                        div.form-group__check
                            input(type="checkbox", id="finance", name="finance")
                            label(for="finance") Финансы / Банки / Страхование                
                        div.form-group__check
                            input(type="checkbox", id="police", name="police")
                            label(for="police") Правоохранительные органы                
                        div.form-group__check
                            input(type="checkbox", id="education", name="education")
                            label(for="education") Образование                
                        div.form-group__check
                            input(type="checkbox", id="farming", name="farming")
                            label(for="farming") Сельское хозяйство                
                        div.form-group__check
                            input(type="checkbox", id="culture", name="culture")
                            label(for="culture") Культура и искусство                
                        div.form-group__check
                            input(type="checkbox", id="security", name="security")
                            label(for="security") Охранная деятельность                
                        div.form-group__check
                            input(type="checkbox", id="authorities", name="authorities")
                            label(for="authorities") Органы власти и управления                
                        div.form-group__check
                            input(type="checkbox", id="it", name="it")
                            label(for="it") Информационные технологии                
                        div.form-group__check
                            input(type="checkbox", id="trading", name="trading")
                            label(for="trading") Оптовая и розничная торговля                
                        div.form-group__check
                            input(type="checkbox", id="medicine", name="medicine")
                            label(for="medicine") Медицина                
                        div.form-group__check
                            input(type="checkbox", id="production", name="production")
                            label(for="production") Производство                
                        div.form-group__check
                            input(type="checkbox", id="transport", name="transport")
                            label(for="transport") Транспорт                
                        div.form-group__check
                            input(type="checkbox", id="industry", name="industry")
                            label(for="industry") Промышленность                
                        div.form-group__check
                            input(type="checkbox", id="law", name="law")
                            label(for="law") Юриспруденция                
                        div.form-group__check
                            input(type="checkbox", id="construction", name="construction")
                            label(for="construction") Строительство                
                        div.form-group__check
                            input(type="checkbox", id="science", name="science")
                            label(for="science") Наука                
                        div.form-group__check
                            input(type="checkbox", id="service", name="service")
                            label(for="service") Услуги                
                        div.form-group__check
                            input(type="checkbox", id="tourism", name="tourism")
                            label(for="tourism") Туризм                
                        div.form-group__check
                            input(type="checkbox", id="other", name="other" data-option)
                            label(for="other") Иное
                        div.form-group__text(data-option-field)
                            input(type="text", autocomplete="off", name="other-text")
                            .form-cross
                    .form-row
                        h3.employer-size Численность персонала
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-1", name="employer-size", value="size-type[0]")
                            label(for="employer-size-1") до 10
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-2", name="employer-size", value="size-type[1]")
                            label(for="employer-size-2") 11-30
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-3", name="employer-size", value="size-type[2]")
                            label(for="employer-size-3") 31-50
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-4", name="employer-size", value="size-type[3]")
                            label(for="employer-size-4") 51-100
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-5", name="employer-size", value="size-type[4]")
                            label(for="employer-size-5") 101-500
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-6", name="employer-size", value="size-type[5]")
                            label(for="employer-size-6") 501-1000
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-7", name="employer-size", value="size-type[6]")
                            label(for="employer-size-7") более 1000
                    .form-row
                        h3.employer-duration Трудовой стаж
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-1", name="employer-duration", value="duration-type[0]")
                            label(for="employer-duration-1") до 2-х лет
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-2", name="employer-duration", value="duration-type[1]")
                            label(for="employer-duration-2") от 2-5 лет
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-3", name="employer-duration", value="duration-type[2]")
                            label(for="employer-duration-3") более 5 лет 
                    .form-row
                        h3.appointment Должность
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="appointment" placeholder="Веб-разработчик")
                            .form-cross
                    .form-row
                        h3.experience Общий трудовой стаж
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="experience" placeholder="10 лет")
                            .form-cross
                    .form-row
                        h3.current-experience Стаж в текущей сфере деятельности
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="current-experience" placeholder="5 лет")
                            .form-cross
                    .form-row
                        h3.job-number Мест работы за последние 3 (три) года
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="job-number" placeholder="1")
                            .form-cross
                    .form-row
                        h3.income-confimation Справка о доходе
                        div.form-group__radio                    
                            input(type="radio", checked id="income-confimation-1", name="income-confimation", value="confirmation-type[0]")
                            label(for="income-confimation-1") 2-НДФЛ
                        div.form-group__radio                    
                            input(type="radio", id="income-confimation-2", name="income-confimation", value="confirmation-type[1]")
                            label(for="income-confimation-2") Справка по форме банка
                        div.form-group__radio                    
                            input(type="radio", id="income-confimation-3", name="income-confimation", value="confirmation-type[2]")
                            label(for="income-confimation-3") Без подтверждения дохода - по двум документам
                    .form-row
                        h3.income Среднемесячный доход, руб.
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="income" data-cost placeholder="15 000 руб.")
                            .form-cross
                    .form-row
                        h3.additional-income Дополнительный доход (необязательно)        
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-employer-name" placeholder="ОАО Газпром")
                            label(for="additional-employer-name") Наименование работодателя
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-appointment" placeholder="Директор")
                            label(for="additional-appointment") Должность
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-employer-inn"  placeholder="000000000000" data-inn)
                            label(for="additional-employer-inn") ИНН работодателя
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-employer-real-adress" placeholder="Россия г.Москва ул.Ленина д 21")
                            label(for="additional-employer-real-adress") Фактический адрес
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-employer-branch" placeholder="Глобальная энергетическая компания")
                            label(for="additional-employer-branch") Сфера деятельности организации
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="additional-income" placeholder="50 000 руб." data-cost)
                            label(for="additional-income") Доход по совместительству
                            .form-cross
                    .form-row
                        h3.sberbank-number Номер карты сбербанка (если Вы являетесь з/п клиентом банка, или у вас начисляется пенсия на карту ПАО Сбербанк)
                        div.form-group__text
                            input(type="text", autocomplete="off", name="sberbank-number" placeholder="4276 0000 0000 0000")
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="Активы Заемщика")
            div.form-block__header
                h2 Активы Заемщика / Созаемщика
            div.form-block__content
                .form.form-resources
                    .form-row
                        h3.realty Недвижимость                
                        div.form-group__check
                            input(type="checkbox", id="apartment", name="apartment" data-active)
                            label(for="apartment") Квартира                
                        div.form-group__check
                            input(type="checkbox", id="room", name="room" data-active)
                            label(for="room") Комната
                        div.form-group__check
                            input(type="checkbox", id="house", name="house" data-active)
                            label(for="house") Дом             
                        div.form-group__check
                            input(type="checkbox", id="land", name="land" data-active)
                            label(for="land") Земельный участок
                        .form-group__active
                            div.form-group__text                   
                                input(type="text", autocomplete="off", name="adress")
                                label(for="adress") Адрес
                                .form-cross
                            .form-group_hidden                
                                div.form-group__check
                                    input(type="radio", id="private-property", name="private-property" value="private-property" data-close)
                                    label(for="private-property") Частная собственность
                                div.form-group__check
                                    input(type="radio", id="share-property", name="private-property" value="share-property" data-option)
                                    label(for="share-property") Долевая собственность
                                div.form-group__text.form-group__text_pt(data-option-field)
                                    input(type="text", autocomplete="off", name="share-size")
                                    label(for="share-size") Указать размер доли
                                    .form-cross
                            
                    .form-row
                        h3.auto Транспорт в собственности
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="auto-property", name="auto-property" data-hidden)
                                label(for="auto-property") Транспорт в собственности
                            .form-group_hidden-content(data-hidden-content)
                                div.form-group__text  
                                    input(type="text", autocomplete="off", name="model")
                                    label(for="model") Марка / модель
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="age")
                                    label(for="age") Год выпуска / год приобретения
                                    .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn__next_static
                        | Вперед
        
        div.form-block(data-step-name="Данные о кредитной истории Заемщика")
            div.form-block__header
                h2 Данные о кредитной истории Заемщика / Созаемщика
            div.form-block__content
                .form.form-credit-history
                    .form-row
                        h3.credit-type Вид кредита
                        div.form-group__check
                            input(type="radio", id="no-credits", name="type-credit" value="type-credit[0]" checked data-credit-trigger data-nocredits)
                            label(for="no-credits") не было кредитов              
                        div.form-group__check
                            input(type="radio", id="mortgage", name="type-credit" value="type-credit[1]" data-credit-trigger)
                            label(for="mortgage") ипотечный                
                        div.form-group__check
                            input(type="radio", id="car", name="type-credit" value="type-credit[2]" data-credit-trigger)
                            label(for="car") автокредит                
                        div.form-group__check
                            input(type="radio", id="consumer", name="type-credit" value="type-credit[3]" data-credit-trigger)
                            label(for="consumer") потребительский                
                        div.form-group__check
                            input(type="radio", id="credit-card", name="type-credit" value="type-credit[4]" data-credit-trigger)
                            label(for="credit-card") кредитная карта
                    .form-hidden-content
                        .form-row
                            h3.bank Банк
                            div.form-group__text
                                input(type="text", autocomplete="off", name="bank" placeholder="Сбербанк")
                                .form-cross
                        .form-row
                            h3.currency Валюта кредита                
                            div.form-group__check
                                input(type="radio", checked id="rubles", name="money" value="money[0]")
                                label(for="rubles") рубли РФ                
                            div.form-group__check
                                input(type="radio", id="dollars", name="money" value="money[1]")
                                label(for="dollars") доллары США                
                            div.form-group__check
                                input(type="radio", id="euro", name="money" value="money[2]")
                                label(for="euro") евро
                        .form-row
                            h3.credit-sum Сумма кредита
                            div.form-group__text
                                input(type="text", autocomplete="off", name="credit-sum-history" data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.monthly-payment Ежемесячная сумма к погашению
                            div.form-group__text
                                input(type="text", autocomplete="off", name="monthly-payment"  data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.loan-balance Остаток непогашенной задолженности
                            div.form-group__text
                                input(type="text", autocomplete="off", name="loan-balance"  data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.repayment-period Срок погашения
                            div.form-group__text
                                input(type="text", autocomplete="off", name="repayment-period")
                                .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn__next_static
                        | Вперед
        
        div.form-block(data-step-name="Дополнительная информация")
            div.form-block__header
                h2 Дополнительная информация <span class="form-head-description">(Ваши личные пожелания в какие банки отправить заявку на ипотеку и любая другая полезная информация)</span>
            div.form-block__content
                .form.form-additional-info
                    .form-row
                        h3.comments Коментарии
                        div.form-group__text
                            input(type="text", autocomplete="off", name="comments")
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next.active
                        | Вперед
        
        div.form-block(data-step-name="Документы")
            div.form-block__header
                h2 Документы
            div.form-block__content
                .form.form-documents
                    .form-row.form-row-center
                        h3.passport Паспорт
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить паспорт
                                input(type="file", name="passport", multiple)
                        h3.passport Трудовая книга
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить трудовую книгу
                                input(type="file", name="passport-book", multiple)
                        h3.passport Свидетельство о браке
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить свидетельство о браке
                                input(type="file", name="passport-marriage", multiple)
                        h3.passport Свидетельство о рождении детей
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить свидетельство о рождении детей
                                input(type="file", name="passport-children", multiple)
                        h3.passport СНИЛС
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить СНИЛС
                                input(type="file", name="passport-snils", multiple)
                        h3.passport ИНН
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить ИНН
                                input(type="file", name="passport-inn", multiple)
                        h3.passport Документ, подтверждающий доход
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить документ, подтверждающий доход
                                input(type="file", name="passport-income", multiple)
                        h3.passport Накопительная Ипотечная Система, Материнский капитал, выписка со счета Материнского капитала, субсидии, памятки
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить другие документы
                                input(type="file", name="passport-other", multiple)
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    input.form-btn.form-btn-submit(type="submit" value="Отправить анкету")