extends ../template

block title
    title KVS | Ипотека

block contain
    form.form-wrapper(method="post" id="form-ipotek-main" action="ipoteka.php")
        div.form-block(data-step-name="ЕдинаяАнкета").active
            div.form-block__header
                h2 Единая анкета
            div.form-block__content
               .form.form-general
                    .form-row
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Фамилия", data-name id="main-name-1")
                            label(for="name") Фамилия
                            .form-cross
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Имя", data-name id="main-name-2")
                            label(for="name") Имя
                            .form-cross
                        div.form-group__text         
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Отчество", data-name id="main-name-3")
                            label(for="name") Отчество
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ДеньРождения", data-date)
                            label(for="birth-date") Дата рождения
                            .form-cross
                        //- div.form-group__text                    
                        //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="phone", data-phone)
                        //-     label(for="phone") Телефон
                        //-     .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="ИнфоЗапрКред")
            div.form-block__header
                h2 Информация о запрашиваемом кредите
            div.form-block__content
                .form.form-credit-info
                    .form-row
                        h3.credit-target Цель кредита
                        div.form-group__radio
                            input(type="radio", id="credit-target-new", name="ЦельКредита" value="Покупка квартиры в новостройке", checked)
                            label(for="Покупка квартиры в новостройке") Покупка квартиры в новостройке
                        div.form-group__radio
                            input(type="radio", id="credit-target-ready", name="ЦельКредита" value="Покупка квартиры в готовой недвижимости")
                            label(for="Покупка квартиры в готовой недвижимости") Покупка квартиры в готовой недвижимости
                        div.form-group__radio
                            input(type="radio", id="credit-target-commers", name="ЦельКредита" value="Покупка коммерческой недвижимости")
                            label(for="Покупка коммерческой недвижимости") Покупка коммерческой недвижимости
                    .form-row
                        h3.cost Стоимость ОН в новостройке
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СтоимостьОН" data-cost data-credit-main)
                            label(for="СтоимостьОН") Стоимость
                            .form-cross
                    .form-row
                        h3.initial-contribution Первоначальный взнос, в руб.
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ПервоначальныйВзносР" data-cost data-credit-first disabled)
                            label(for="ПервоначальныйВзносР") Первоначальный взнос
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ПервоначальныйВзносП" data-credit-procent disabled) 
                            label(for="ПервоначальныйВзносП") В процентах
                            .form-cross  
                    .form-row
                        h3.credit-sum Сумма кредита, руб.
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="СуммаКредита" data-cost data-credit-summ disabled)
                            label(for="СуммаКредита") Сумма кредита
                            .form-cross
                               
                    
                    .form-row
                        h3.maternity-capital Ипотека + материнский капитал
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="maternity-capital", name="МатерискийКапитал" data-hidden)
                                label(for="МатерискийКапитал") Материнский капитал 
                            div.form-group__text.form-group__text_pt(data-hidden-content)
                                input(type="text", autocomplete="off", name="МатерискийКапиталСумма" data-cost data-maternity-summ)
                                label(for="МатерискийКапиталСумма") Размер Материнского капитала
                                .form-cross
                            div(data-hidden-radio-content)
                                div.form-group__text(data-hidden-content)
                                    input(type="text", autocomplete="off", name="МатерискийКапиталПроценты" data-procent data-maternity-procent)
                                    label(for="МатерискийКапиталПроценты") В процентах
                                    .form-cross
                            div.form-group__radio(data-hidden-content)
                                input(type="radio", id="maternity-capital-usage-PV", name="МатКапИспользоватьКак" value="Использовать как Первоначальный Взнос" data-hidden-radio)
                                label(for="maternity-capital-usage-PV") Использовать как Первоначальный Взнос
                            div.form-group__radio(data-hidden-content)
                                input(type="radio", id="maternity-capital-usage-time", name="МатКапИспользоватьКак" value="Использовать как досрочное погашение по кредиту" checked)
                                label(for="maternity-capital-usage-time") Использовать как досрочное погашение по кредиту 
                    .form-row
                        h3.military-loan Военная ипотека
                        .form-group_hidden              
                            div.form-group__check                 
                                input(type="checkbox", id="military-loan", name="ВоеннаяИпотека" data-hidden)
                                label(for="military-loan") Военная ипотека
                            div.form-group__text.form-group__text_pt(data-hidden-content)                
                                input(type="text", autocomplete="off", name="ВоеннаяИпотекаСумма" data-cost data-military-summ)
                                label(for="military-loan-sum") Размер Накопительной Ипотечной Системы
                                .form-cross
                            div.form-group__text(data-hidden-content)
                                input(type="text", autocomplete="off", name="ВоеннаяИпотекаПроценты" data-procent data-military-procent) 
                                label(for="initial-contribution-percent") В процентах
                                .form-cross
                    .form-row
                        h3.subsidy Субсидия
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="subsidy", name="Субсидии" data-hidden)
                                label(for="Субсидии") Субсидия
                            .form-group_hidden-content(data-hidden-content)
                                div.form-group__text                 
                                    input(type="text", autocomplete="off", name="СубсидииСумма" data-cost data-subsidy-summ)
                                    label(for="СубсидииСумма") Размер субсидии
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="СубсидииПроценты" data-procent data-subsidy-procent)
                                    label(for="СубсидииПроценты") В процентах
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="СубсидииИмя")
                                    label(for="СубсидииИмя") Название субсидии
                                    .form-cross
                    .form-row
                        h3.insurance Страхование квартиры    
                        div.form-group__check
                            input(type="radio", id="insurance-yes", name="СтрахованиеКвартиры" value="1", checked)
                            label(for="insurance-yes") Да                
                        div.form-group__check
                            input(type="radio", id="insurance-no", name="СтрахованиеКвартиры" value="0")
                            label(for="insurance-no") Нет
                    
                        h3.loan-period Срок кредита, количество лет
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СрокКредита" data-period)
                            label(for="СрокКредита") Срок кредита
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед

        div.form-block(data-step-name="ЛичныеДанные")
            div.form-block__header
                h2 Личные данные Заёмщика / Созаемщика
            div.form-block__content
                .form.form-private-data
                    .form-row
                        .form-tabs
                            .form-tabs-nav
                                .form-tabs-nav__link-wrapper
                                    .form-tabs-nav__link.active
                                        | Заёмщик
                                    .form-tabs-nav__link.form-tabs-nav__link-add
                                        | Созаёмщик
                                .form-tabs-nav__btn
                                    | Добавить созаёмщика
                                //- div.form-group__radio
                                //-     input(type="radio", id="private-data-person", name="private-data" value="zaemschik" checked)
                                //-     label(for="private-data-person") Заёмщик
                                //- div.form-group__radio
                                //-     input(type="radio", id="private-data-person-1", name="private-data" value="private-data[1]")
                                //-     label(for="private-data-person-1") Созаемщик
                            .form-tabs-container-wrapper
                                .form-tabs-container.active
                                    //- h3.name ФИО
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="surname-personal" id="main-name-surname")
                                    //-     label(for="surname") Фамилия
                                    //-     .form-cross
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="name-personal" id="main-name-name")
                                    //-     label(for="name") Имя
                                    //-     .form-cross
                                    //- div.form-group__text                    
                                    //-     input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="patronym-personal" id="main-name-patronym")
                                    //-     label(for="patronym") Отчество
                                    //-     .form-cross
                                    .form-row
                                        h3.passport-data Паспортные данные
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Паспорт" placeholder="0000 000000" data-passport)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортКод" placeholder="000-000" data-passport-cod)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортКем" placeholder="Кем выдан" data-passport-who)
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПаспортДата" placeholder="Дата выдачи" data-passport-date)
                                            .form-cross
                                    //- .form-row
                                    //-     h3.birth-date Дата рождения
                                    //-     div.form-group__text
                                    //-         input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="birth-date-personal" data-date)
                                    //-         .form-cross
                                    .form-row
                                        h3.sex Пол                
                                        div.form-group__check
                                            input(type="radio", id="sex-male", name="Пол" data-add-name="Пол" value="Мужской" checked)
                                            label(for="sex-male") Мужской                
                                        div.form-group__check
                                            input(type="radio", id="sex-female", name="Пол" data-add-name="Пол" value="Женский")
                                            label(for="sex-female") Женский
                                    .form-row
                                        h3.citezenship Гражданство
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Гражданство" placeholder="Россия")
                                            .form-cross
                                    .form-row
                                        h3.citezenship ИНН
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ИНН" placeholder="000000000000" data-inn)
                                            .form-cross
                                    .form-row
                                        h3.citezenship СНИЛС
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СНИЛС" placeholder="000 000 000 00" data-snils)
                                            .form-cross
                                    .form-row
                                        h3.citezenship Контактный телефон
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Телефон" data-phone)
                                            label(for="phone-main") Основной
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", autocomplete="off", name="ДопТелефон" data-phone)
                                            label(for="phone-main") Дополнительный
                                            .form-cross
                                    .form-row
                                        h3.email Email
                                        div.form-group__text
                                            input(type="text", autocomplete="off", name="Почта" placeholder="example@mail.com" data-email data-inputmask-regex="[A-Za-z0-9]{1,}@[A-Za-z0-9]{1,}[.][A-Za-z]{1,}")
                                            .form-cross
                                    .form-row
                                        h3.civil-status Статус семейного положения                
                                        div.form-group__check
                                            input(type="radio", id="marriage", name="СемейноеПоложение" data-add-name="СемейноеПоложение" value="Женат / Замужем ")
                                            label(for="marriage") Женат / Замужем          
                                        div.form-group__check
                                            input(type="radio", id="civil-marriage", name="СемейноеПоложение" data-add-name="СемейноеПоложение" value="Гражданский брак ")
                                            label(for="civil-marriage") Гражданский брак                
                                        div.form-group__check
                                            input(type="radio", id="single", name="СемейноеПоложение" data-add-name="СемейноеПоложение" value="Холост / Не замужем ")
                                            label(for="single") Холост / Не замужем                
                                        div.form-group__check
                                            input(type="radio", id="divorced", name="СемейноеПоложение" data-add-name="СемейноеПоложение" value="В разводе")
                                            label(for="divorced") В разводе                
                                        div.form-group__check
                                            input(type="radio", id="widower", name="СемейноеПоложение" data-add-name="СемейноеПоложение" value="Вдовец / Вдова")
                                            label(for="widower") Вдовец / Вдова
                                    .form-row
                                        h3.name-change Менялись ли ФИО
                                        .form-group_hidden
                                            div.form-group__check
                                                input(type="checkbox", id="name-change", name="ИзменениеФамилии" data-hidden)
                                                label(for="name-change") Да 
                                                .form-group_hidden-content(data-hidden-content)
                                                    div.form-group__text                                   
                                                        input(type="text", autocomplete="off", name="ФИО")
                                                        label(for="previous-name") Прежние ФИО
                                                        .form-cross
                                                    div.form-group__text                                    
                                                        input(type="text", autocomplete="off", name="ДатаИзменения" data-date)
                                                        label(for="change-date") Дата изменения
                                                        .form-cross
                                                    div.form-group__text                                  
                                                        input(type="text", autocomplete="off", name="Причина")
                                                        label(for="change-reason") Причина
                                                        .form-cross
                                    
                                    .form-row.children-wrapper
                                        h3.children Количество несовершеннолетних детей и иных иждевенцев
                                        .form-group_hidden-for-count
                                            div.form-group__text                
                                                input(type="text", autocomplete="off", name="КоличествоДетей" data-count)
                                                label(for="children-number") Количество
                                        .form-group_hidden-wrapper(data-count-contain)
                                            .form-group_hidden-content(data-children-form)
                                                h3.child Ребенок
                                                div.form-group__text                    
                                                    input(type="text", autocomplete="off", name="ФИО")
                                                    label(for="child-name") ФИО
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", autocomplete="off", name="ДатаРождения" data-date)
                                                    label(for="child-birth-date") Дата рождения
                                                    .form-cross
                                    .form-row
                                        h3.education Образование          
                                        div.form-group__check
                                            input(type="radio", id="middle", name="ТипОбразования" data-add-name="ТипОбразования" value="среднее / неполное среднее" data-education)
                                            label(for="middle") среднее / неполное среднее                
                                        div.form-group__check
                                            input(type="radio", id="college", name="ТипОбразования" data-add-name="ТипОбразования" value="среднее специальное " data-education)
                                            label(for="college") среднее специальное                
                                        div.form-group__check
                                            input(type="radio", id="incomplete-high", name="ТипОбразования" data-add-name="ТипОбразования" value="незаконченное высшее " data-education)
                                            label(for="incomplete-high") незаконченное высшее                
                                        div.form-group__check
                                            input(type="radio", id="high", name="ТипОбразования" data-add-name="ТипОбразования" value="высшее" data-education data-education-trigger)
                                            label(for="high") высшее                
                                        div.form-group__check.form-group__check_sd.disabled
                                            input(type="checkbox", id="science-degree", name="УченаяСтепень" disabled data-education data-science)
                                            label(for="science-degree") ученая степень                
                                        div.form-group__text.form-group__text_pt                    
                                            input(type="text",  autocomplete="off", name="НаимУчебЗавед" placeholder="СПБГУ") 
                                            label(for="institution-name") Наименование учебного заведения
                                            .form-cross                   
                                    .form-row
                                        h3.registration-adress Адрес регистрации
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Индекс")
                                            label(for="zip-code") Почтовый индекс
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерации")
                                            label(for="city") Республика/Край/Область
                                            .form-cross
                                        div.form-group__text
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Город")
                                            label(for="city") Город
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Улица")
                                            label(for="street") Улица
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Дом")
                                            label(for="building") Дом
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", autocomplete="off", name="Корпус")
                                            label(for="facility") Корпус
                                            .form-cross
                                        div.form-group__text                    
                                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Квартира")
                                            label(for="apartment") Квартира
                                            .form-cross
                                    .form-row
                                        h3.real-registration-adress Адрес фактического проживания совпадает с адресом регистрации?  
                                        .form-group_show              
                                            div.form-group__check
                                                input(type="checkbox", id="match", name="СовпадаетСРегистрацией !!!" data-show)
                                                label(for="match") Да
                                            .form-group_show-content(data-show-content)
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Индекс")
                                                    label(for="zip-code") Почтовый индекс
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерации")
                                                    label(for="city") Республика/Край/Область
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Город")
                                                    label(for="city") Город
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Улица")
                                                    label(for="street") Улица
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Дом")
                                                    label(for="building") Дом
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Корпус")
                                                    label(for="facility") Корпус
                                                    .form-cross
                                                div.form-group__text                    
                                                    input(type="text", required data-required="1" data-type-required="" autocomplete="off", name="Квартира")
                                                    label(for="apartment") Квартира
                                                    .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="СведенияРаботе")
            div.form-block__header
                h2 Сведения о работе Заемщика / Созаемщика
            div.form-block__content
                .form.form-job-data
                    .form-row
                        h3.name Постоянное место работы
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="МестоРаботыНаименование")
                            label(for="МестоРаботыНаименование") Наименование
                            .form-cross
                        div.form-group__text.form-group__text_bb
                            select(name="ТипЗанятости")
                                option(value="Полная занятость") Полная занятость
                                option(value="Частичная занятость") Частичная занятость
                                option(value="Не занят") Не занят
                    .form-row
                        h3.employer-inn ИНН работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="ИННРаботодателя" placeholder="000000000000" data-inn)
                            .form-cross
                    .form-row
                        h3.employer-phone Телефон организации-работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="ТелефонРаботодателя" data-phone data-phone-city)
                            .form-cross
                    .form-row
                        h3.employer-site Сайт организации-работодателя
                        div.form-group__text
                            input(type="text", autocomplete="off", name="СайтРаботодателя" placeholder="google.ru")
                            .form-cross
                    .form-row
                        h3.employer-adress Юридический адрес организации и фактический адрес    
                        h3.employer-adress-legal Юридический адрес
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ПочтовыйИндексЮР")
                            label(for="zip-code") Почтовый индекс
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерацииЮР")
                            label(for="city") Республика/Край/Область
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ГородЮР")
                            label(for="city") Город
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="УлицаЮР")
                            label(for="street") Улица
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ДомЮР")
                            label(for="building") Дом
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="КорпусЮР")
                            label(for="facility") Корпус
                            .form-cross
                        div.form-group__text                    
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ОфисЮР")
                            label(for="office") Офис
                            .form-cross
                    .form-row
                        h3.employer-adress-real Фактический адрес      
                        .form-group_show          
                            div.form-group__check
                                input(type="checkbox", id="employer-match", name="СовпадаетАдресЮР !!!" data-show)
                                label(for="employer-match") Совпадает с юридическим адресом  
                            .form-group_show-content(data-show-content)     
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="ПочтовыйИндексФакт")
                                    label(for="zip-code") Почтовый индекс
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СубъектФедерацииФакт")
                                    label(for="city") Республика/Край/Область
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="ГородФакт")
                                    label(for="city") Город
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="УлицаФакт")
                                    label(for="street") Улица
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="ДомФакт")
                                    label(for="building") Дом
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="КорпусФакт")
                                    label(for="facility") Корпус
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text",  autocomplete="off", name="ОфисФакт")
                                    label(for="office") Офис
                                    .form-cross
                    .form-row
                        h3.branch Сфера деятельности организации                
                        div.form-group__check
                            input(type="checkbox", id="finance", name="СДОрганизацииФинансы")
                            label(for="finance") Финансы / Банки / Страхование                
                        div.form-group__check
                            input(type="checkbox", id="police", name="СДОрганизацииПравоохранительныеОрганы")
                            label(for="police") Правоохранительные органы                
                        div.form-group__check
                            input(type="checkbox", id="education", name="СДОрганизацииОбразование")
                            label(for="education") Образование                
                        div.form-group__check
                            input(type="checkbox", id="farming", name="СДОрганизацииХозяйство")
                            label(for="farming") Сельское хозяйство                
                        div.form-group__check
                            input(type="checkbox", id="culture", name="СДОрганизацииКультура")
                            label(for="culture") Культура и искусство                
                        div.form-group__check
                            input(type="checkbox", id="security", name="СДОрганизацииОхраннаяД")
                            label(for="security") Охранная деятельность                
                        div.form-group__check
                            input(type="checkbox", id="authorities", name="СДОрганизацииУправления")
                            label(for="authorities") Органы власти и управления                
                        div.form-group__check
                            input(type="checkbox", id="it", name="СДОрганизацииИТ")
                            label(for="it") Информационные технологии                
                        div.form-group__check
                            input(type="checkbox", id="trading", name="СДОрганизацииТорговля")
                            label(for="trading") Оптовая и розничная торговля                
                        div.form-group__check
                            input(type="checkbox", id="medicine", name="СДОрганизацииМедицина")
                            label(for="medicine") Медицина                
                        div.form-group__check
                            input(type="checkbox", id="production", name="СДОрганизацииПроизводство")
                            label(for="production") Производство                
                        div.form-group__check
                            input(type="checkbox", id="transport", name="СДОрганизацииТранспорт")
                            label(for="transport") Транспорт                
                        div.form-group__check
                            input(type="checkbox", id="industry", name="СДОрганизацииПромышленность")
                            label(for="industry") Промышленность                
                        div.form-group__check
                            input(type="checkbox", id="law", name="СДОрганизацииЮриспруденция")
                            label(for="law") Юриспруденция                
                        div.form-group__check
                            input(type="checkbox", id="construction", name="СДОрганизацииСтроительство")
                            label(for="construction") Строительство                
                        div.form-group__check
                            input(type="checkbox", id="science", name="СДОрганизацииНаука")
                            label(for="science") Наука                
                        div.form-group__check
                            input(type="checkbox", id="service", name="СДОрганизацииУслуги")
                            label(for="service") Услуги                
                        div.form-group__check
                            input(type="checkbox", id="tourism", name="СДОрганизацииТуризм")
                            label(for="tourism") Туризм                
                        div.form-group__check
                            input(type="checkbox", id="other", name="СДОрганизацииИное" data-option)
                            label(for="other") Иное
                        div.form-group__text(data-option-field)
                            input(type="text", autocomplete="off", name="СДОрганизацииИное")
                            .form-cross
                    .form-row
                        h3.employer-size Численность персонала
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-1", name="Численность персонала", value="до 10")
                            label(for="employer-size-1") до 10
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-2", name="Численность персонала", value="11-30")
                            label(for="employer-size-2") 11-30
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-3", name="Численность персонала", value="31-50")
                            label(for="employer-size-3") 31-50
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-4", name="Численность персонала", value="51-100")
                            label(for="employer-size-4") 51-100
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-5", name="Численность персонала", value="101-500")
                            label(for="employer-size-5") 101-500
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-6", name="Численность персонала", value="501-1000")
                            label(for="employer-size-6") 501-1000
                        div.form-group__radio                    
                            input(type="radio", id="employer-size-7", name="Численность персонала", value="более 1000")
                            label(for="employer-size-7") более 1000
                    .form-row
                        h3.employer-duration Трудовой стаж
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-1", name="ТрудовойСтаж", value="до 2-х лет")
                            label(for="employer-duration-1") до 2-х лет
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-2", name="ТрудовойСтаж", value="от 2-5 лет")
                            label(for="employer-duration-2") от 2-5 лет
                        div.form-group__radio                    
                            input(type="radio", id="employer-duration-3", name="ТрудовойСтаж", value="более 5 лет")
                            label(for="employer-duration-3") более 5 лет 
                    .form-row
                        h3.appointment Должность
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="Должность" placeholder="Веб-разработчик")
                            .form-cross
                    .form-row
                        h3.experience Общий трудовой стаж
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="ОбщийТрудовойСтаж" placeholder="10 лет")
                            .form-cross
                    .form-row
                        h3.current-experience Стаж в текущей сфере деятельности
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СтажВСфере" placeholder="5 лет")
                            .form-cross
                    .form-row
                        h3.job-number Мест работы за последние 3 (три) года
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="РабочиеМестаЗаТриГода" placeholder="1")
                            .form-cross
                    .form-row
                        h3.income-confimation Справка о доходе
                        div.form-group__radio                    
                            input(type="radio", checked id="income-confimation-1", name="СправкаОДоходе", value="2-НДФЛ")
                            label(for="income-confimation-1") 2-НДФЛ
                        div.form-group__radio                    
                            input(type="radio", id="income-confimation-2", name="СправкаОДоходе", value="Справка по форме банка")
                            label(for="income-confimation-2") Справка по форме банка
                        div.form-group__radio                    
                            input(type="radio", id="income-confimation-3", name="СправкаОДоходе", value="Без подтверждения дохода - по двум документам")
                            label(for="income-confimation-3") Без подтверждения дохода - по двум документам
                    .form-row
                        h3.income Среднемесячный доход, руб.
                        div.form-group__text
                            input(type="text", required data-required="1" data-type-required="", autocomplete="off", name="СреднийДоходМесяц" data-cost placeholder="15 000 руб.")
                            .form-cross
                    .form-row
                        h3.additional-income Дополнительный доход (необязательно)        
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДНаименованиеРаботодателя" placeholder="ОАО Газпром")
                            label(for="additional-employer-name") Наименование работодателя
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДДолжность" placeholder="Директор")
                            label(for="additional-appointment") Должность
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДИНН"  placeholder="000000000000" data-inn)
                            label(for="additional-employer-inn") ИНН работодателя
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДФактическийАдресс" placeholder="Россия г.Москва ул.Ленина д 21")
                            label(for="additional-employer-real-adress") Фактический адрес
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДСфераДеятельности" placeholder="Глобальная энергетическая компания")
                            label(for="additional-employer-branch") Сфера деятельности организации
                            .form-cross
                        div.form-group__text                    
                            input(type="text", autocomplete="off", name="ДДДоход" placeholder="50 000 руб." data-cost)
                            label(for="additional-income") Доход по совместительству
                            .form-cross
                    .form-row
                        h3.sberbank-number Номер карты сбербанка (если Вы являетесь з/п клиентом банка, или у вас начисляется пенсия на карту ПАО Сбербанк)
                        div.form-group__text
                            input(type="text", autocomplete="off", name="НомКартыСбербанка" placeholder="4276 0000 0000 0000")
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next
                        | Вперед
        
        div.form-block(data-step-name="Активы")
            div.form-block__header
                h2 Активы Заемщика / Созаемщика
            div.form-block__content
                .form.form-resources
                    .form-row
                        h3.realty Недвижимость                
                        div.form-group__check
                            input(type="checkbox", id="apartment", name="Квартира" data-active)
                            label(for="apartment") Квартира                
                        div.form-group__check
                            input(type="checkbox", id="room", name="Комната" data-active)
                            label(for="room") Комната
                        div.form-group__check
                            input(type="checkbox", id="house", name="Дом" data-active)
                            label(for="house") Дом             
                        div.form-group__check
                            input(type="checkbox", id="land", name="ЗемельныйУчасток" data-active)
                            label(for="land") Земельный участок
                        .form-group__active
                            div.form-group__text                   
                                input(type="text", autocomplete="off", name="Адрес")
                                label(for="Адрес") Адрес
                                .form-cross
                            .form-group_hidden                
                                div.form-group__check
                                    input(type="radio", id="private-property", name="ТипСобственности" value="Частная собственность" data-close)
                                    label(for="private-property") Частная собственность
                                div.form-group__check
                                    input(type="radio", id="share-property", name="ТипСобственности" value="Долевая собственность" data-option)
                                    label(for="share-property") Долевая собственность
                                div.form-group__text.form-group__text_pt(data-option-field)
                                    input(type="text", autocomplete="off", name="РазмерДоли")
                                    label(for="РазмерДоли") Указать размер доли
                                    .form-cross
                            
                    .form-row
                        h3.auto Транспорт в собственности
                        .form-group_hidden
                            div.form-group__check
                                input(type="checkbox", id="auto-property", name="Авто" data-hidden)
                                label(for="auto-property") Транспорт в собственности
                            .form-group_hidden-content(data-hidden-content)
                                div.form-group__text  
                                    input(type="text", autocomplete="off", name="МодельАвто")
                                    label(for="model") Марка / модель
                                    .form-cross
                                div.form-group__text                    
                                    input(type="text", autocomplete="off", name="ГодВыпускаАвто")
                                    label(for="age") Год выпуска / год приобретения
                                    .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn__next_static
                        | Вперед
        
        div.form-block(data-step-name="КредитнаяИстори")
            div.form-block__header
                h2 Данные о кредитной истории Заемщика / Созаемщика
            div.form-block__content
                .form.form-credit-history
                    .form-row
                        h3.credit-type Вид кредита
                        div.form-group__check
                            input(type="checkbox", id="no-credits", name="ВидКредита" value="не было кредитов " checked data-credit-trigger data-nocredits)
                            label(for="no-credits") не было кредитов              
                        div.form-group__check
                            input(type="checkbox", id="mortgage", name="ВидКредита" value="ипотечный" data-credit-trigger)
                            label(for="mortgage") ипотечный                
                        div.form-group__check
                            input(type="checkbox", id="car", name="ВидКредита" value="автокредит" data-credit-trigger)
                            label(for="car") автокредит                
                        div.form-group__check
                            input(type="checkbox", id="consumer", name="ВидКредита" value="потребительский" data-credit-trigger)
                            label(for="consumer") потребительский                
                        div.form-group__check
                            input(type="checkbox", id="credit-card", name="ВидКредита" value="кредитная карта" data-credit-trigger)
                            label(for="credit-card") кредитная карта
                    .form-hidden-content
                        .form-row
                            h3.bank Банк
                            div.form-group__text
                                input(type="text", autocomplete="off", name="Банк" data-add-name="Банк" placeholder="Сбербанк")
                                .form-cross
                        .form-row
                            h3.currency Валюта кредита                
                            div.form-group__check
                                input(type="radio", checked id="rubles", name="ВалютаКредита" data-add-name="ВалютаКредита" value="рубли РФ")
                                label(for="rubles") рубли РФ                
                            div.form-group__check
                                input(type="radio", id="dollars", name="ВалютаКредита" data-add-name="ВалютаКредита" value="доллары США")
                                label(for="dollars") доллары США                
                            div.form-group__check
                                input(type="radio", id="euro", name="ВалютаКредита" data-add-name="ВалютаКредита" value="евро")
                                label(for="euro") евро
                        .form-row
                            h3.credit-sum Сумма кредита
                            div.form-group__text
                                input(type="text", autocomplete="off", name="СуммаКредита" data-add-name="СуммаКредита" data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.monthly-payment Ежемесячная сумма к погашению
                            div.form-group__text
                                input(type="text", autocomplete="off", name="ЕжемСуммаПогашения" data-add-name="ЕжемСуммаПогашения"  data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.loan-balance Остаток непогашенной задолженности
                            div.form-group__text
                                input(type="text", autocomplete="off", name="ОстатокЗадолжности" data-add-name="ОстатокЗадолжности"  data-cost data-minimum)
                                .form-cross
                        .form-row
                            h3.repayment-period Срок погашения
                            div.form-group__text
                                input(type="text", autocomplete="off", name="СрокПогашения" data-add-name="СрокПогашения")
                                .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn__next_static
                        | Вперед
        
        div.form-block(data-step-name="ДополнительнаяИнформация")
            div.form-block__header
                h2 Дополнительная информация <span class="form-head-description">(Ваши личные пожелания в какие банки отправить заявку на ипотеку и любая другая полезная информация)</span>
            div.form-block__content
                .form.form-additional-info
                    .form-row
                        h3.comments Коментарии
                        div.form-group__text
                            input(type="text", autocomplete="off", name="Коментарии")
                            .form-cross
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    .form-btn.form-btn__next.active
                        | Вперед
        
        div.form-block(data-step-name="Документы")
            div.form-block__header
                h2 Документы
            div.form-block__content
                .form.form-documents
                    .form-row.form-row-center
                        h3.passport Паспорт
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить паспорт
                                input(type="file", name="Паспорт", multiple)
                        h3.passport Трудовая книга
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить трудовую книгу
                                input(type="file", name="ТрудоваяКнига", multiple)
                        h3.passport Свидетельство о браке
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить свидетельство о браке
                                input(type="file", name="СвидетельсвоОБраке", multiple)
                        h3.passport Свидетельство о рождении детей
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить свидетельство о рождении детей
                                input(type="file", name="СвидетельствоДетей", multiple)
                        h3.passport СНИЛС
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить СНИЛС
                                input(type="file", name="СНИЛС", multiple)
                        h3.passport ИНН
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить ИНН
                                input(type="file", name="ИНН", multiple)
                        h3.passport Документ, подтверждающий доход
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить документ, подтверждающий доход
                                input(type="file", name="Доход", multiple)
                        h3.passport Накопительная Ипотечная Система, Материнский капитал, выписка со счета Материнского капитала, субсидии, памятки
                        div.form-group__file
                            label.form-group__file-label
                                i.material-icons attach_file
                                span.file-title Загрузить другие документы
                                input(type="file", name="ДопДокументы", multiple)
            .form-row_bb
                .form-btns
                    .form-btn.form-btn__prev
                        | Назад
                    input.form-btn.form-btn-submit(type="submit" value="Отправить анкету")