@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "vendor/sumoselect";
@import "vendor/app";
@import "vendor/jquery.kladr.min";

* {
	box-sizing: border-box;
}

.wrapper {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	width: 100%;
 	min-height: 100vh;
}

input::selection {
	background: rgba(255, 128, 0, 0.7);
}

.form-wrapper {
	font-family: "MyriadPro-SemiCn", sans-serif;
	width: 800px;
	border-radius: 5px;
	background: #FFF;
	padding: 20px 0;
	box-shadow: 0 10px 10px #DDD;
	@include w768 {
		width: 100%;
	}
	&::selection {
		background: rgba(255, 128, 0, 0.7);
	}
}

.form-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.form-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	border-radius: 50px;
	height: 40px;
	transition: 0.3s linear;
	cursor: pointer;
	&__prev {
		color: #ff8000;
		border: 1px solid #ff8000;
		&:hover {
			background: #ff8000;
			color: #FFFFFF;
		}
	}
	&__next {
		background: grey;
		color: #FFFFFF;
		border: 1px solid grey;
		pointer-events: none;
		&::selection {
			background: rgba(128, 128, 128, 0.7);
			color: #FFFFFF;
		}
		&.active {
			pointer-events: auto;
			background: #ff8000;
			color: #FFFFFF;
			border: 1px solid #ff8000;
		}
	}
	&::selection {
		background: rgba(255, 128, 0, 0.7);
		color: #FFFFFF;
	}
}

.form-btn__next_static {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 40px;
	border-radius: 50px;
	transition: 0.3s linear;
	cursor: pointer;
	background: #ff8000;
	color: #FFFFFF;
	border: 1px solid #ff8000;
	&::selection {
		background: rgba(128, 128, 128, 0.7);
		color: #FFFFFF;
	}	
}

.form-cross {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	right: 15px;
	border-radius: 50%;
	border: 2px solid grey;
	transform: translateY(-50%);
	cursor: pointer;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		width: 10px;
		height: 2px;
		background: grey;
	}
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
		width: 10px;
		height: 2px;
		background: grey;
	}
}

.form-group_hidden {
	&-content {
		padding-top: 40px;
		padding-bottom: 40px;
		.form-group__text:last-child {
			margin-bottom: 0px;
		}
	}
}

.form-row {
	padding: 20px;
	border-bottom: 1px solid #DDDDDD;
	&_bb {
		border-bottom: 0;
		padding: 20px;
	}
	&-center {
		text-align: center;
	}
}

.form-group_show-content {
	padding-top: 20px;
}

.form-head-description {
	font-size: 14px;
	color: #555;
	display: block;
}

.form-btn-submit {
	background: #ff8000;
	border: none;
	color: #FFF;
	outline: none;
	&:focus {
		outline: none;
	}
}

.form-group__text_bb {
	
	&:before {
		display: none;
	}
}

.SumoSelect > .optWrapper > .options li label {
	pointer-events: auto;
	position: static;
	color: grey;
	transform: none;
}

.SumoSelect > .CaptionCont > label {
	left: unset;
	transform: none;
}

.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont {
  box-shadow: 0 0 2px #fd7902;
  border-color: #fd7902;
}

.SumoSelect > .optWrapper > .options li.opt:hover {
	background-color: #fd7902;
	label {
		color: #FFFFFF;
	}
}

.SumoSelect {
	width: 100%;
}

.form-group__active {
	display: none;
	padding-top: 20px;
}

.form-hidden-content {
	display: none;
}


.form-group__check_sd.disabled {
	label {
		color: #999;
	}
}

.form-tabs-container {
	display: none;

	&.active {
		display: block;
	}
}

.form-tabs-nav {
	display: flex;
	align-items: center;
	padding: 20px;

	&__link {
		padding: 10px 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		border: 1px solid #999;
		cursor: pointer;
		margin-right: 10px;


		&:last-child {
			margin-right: 0px;
		}

		&-wrapper {
			display: flex;
			align-items: center;
			margin-right: 20px;
		}


		&.active {
			border: 1px solid #fd7902;
			color: #fd7902;
		}
	}

	&__btn {
		color: #999;
		font-size: 14px;
		transition: .3s;
		cursor: pointer;


		&:hover {
			color: #fd7902;
		}
	}
}


.form-content-credit {
	&__head {
    position: relative;
    z-index: 5;
    color: black;
    font-size: 25px;
    font-weight: normal;
    color: #fd7902;
	}
}

.file-uploaded {
	margin: 5px 0;
  color: #fd7902;
  transition: 200ms color;
  font-size: 14px;
  text-align: center;
  max-width: 300px;
  overflow: hidden;
}

.form-chunk {
	&-wrapper {
		padding: 10px 0;
		&-item {
			padding: 10px 0;
		}
	}


	&-btn {
		color: #fd7902;
		cursor: pointer;
		padding: 10px 0;
		transition: .3s;
		&:hover {
			text-shadow: 0px 0px 3px #fd7902;
		}
	}
}


.text-small {
	font-size: 12px;
	color: #999999;
}

.form-group_show-padding {
	.form-group__check_pt {
		margin-bottom: 30px;
		label {
			font-size: 14px;
			color: #999999;
		}
	}
	.form-group__text {
		margin-bottom: 20px;
	}
}

.form-tabs-nav__link-add {
	position: relative;
	&-cross {
		position: absolute;
		top: 0;
		left: 100%;
		border-radius: 50%;
		background: #ad2b2b;
		border: 1px solid #FFF;
		transform: translate(-50%, -50%);
		cursor: pointer;
		width: 20px;
		height: 20px;
		&:before, &:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 2px;
			background: #FFFFFF;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

[data-name] {
	text-transform: capitalize;
}

[data-type-job-field] {
	display: none;
}

.btn-add-job {
	white-space: nowrap;
	padding: 10px 15px;
	border-radius: 2px;
  color: #ff8000;
	border: 1px solid #ff8000;
	cursor: pointer;
	transition: .3s;
	width: 300px;


	&:hover {
		color: #FFF;
		background: #ff8000;
	}

	&.disabled {
		background: grey;
    color: #FFFFFF;
    border: 1px solid grey;
	}
}


[data-marriage-content] {
	display: none;

	.form-group__check:last-child {
		margin-bottom: 0px;
	}
}

.form-group__file-label {
	position: relative;

}

.file-upload-clear {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 50%;
    background: #ad2b2b;
    border: 1px solid #FFF;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 20px;
    height: 20px;

    &:before, &:after {
	    content: '';
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 10px;
	    height: 2px;
	    background: #FFFFFF;
    }

    &:before {
    	transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
    	transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.form-group__text.required {
	label {
		color: red !important;
	}
	&:before {
		background: red;
	}
}

.form-group__text.completed {
	label {
		color: #1bc01b !important;
	}
	&:after {
		background: #1bc01b;
	}
}
